<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="statistics">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-rose">
                    <div id="EffectiveByYear" class="ct-chart"><!-- Line chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Effectif disponible</h4>
                    <p class="card-category">durant l'année courante</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div id="LeaveByType" class="ct-chart"><!-- Bar chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Congés posés par type</h4>
                    <p class="card-category">durant le dernier mois</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                    <div id="AcceptedLeaveByYear" class="ct-chart"><!-- Straight Lines Chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Congés validés par mois</h4>
                    <p class="card-category">durant l'année</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon" style="background-color: #00bcd4;">
                        <i class="material-icons">post_add</i>
                    </div>
                    <p class="card-category">Demandes en attente</p>
                    <h3 class="card-title" th:text="${metrics.pending_leave_request}">?</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon" style="background-color: #4caf50;">
                        <i class="material-icons">check</i>
                    </div>
                    <p class="card-category">Demandes acceptées</p>
                    <h3 class="card-title" th:text="${metrics.accepted_leave_request}">?</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon" style="background-color: #f44336;">
                        <i class="material-icons">delete_forever</i>
                    </div>
                    <p class="card-category">Demandes <br>refusées</p>
                    <h3 class="card-title" th:text="${metrics.declined_leave_request}">?</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon">
                    <div class="card-icon" style="background-color: #ff9800;">
                        <i class="material-icons">close</i>
                    </div>
                    <p class="card-category">Demandes <br>annulées</p>
                    <h3 class="card-title" th:text="${metrics.cancelled_leave_request}">?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-danger">
                    <div class="card-icon">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <h4 class="card-title">Demandes de congés traitées par membre RH
                        <small>- durant le dernier mois</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="LeaveRequestByHR" class="ct-chart"></div>
                    <div id="LeaveRequestByHR_legend" class="card-category">
                        <span th:each="type: ${status}" th:text="${type}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon card-header-danger">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <p class="card-category">Nombre <br>d'employés</p>
                    <h3 class="card-title" th:text="${metrics.nb_employee}">?</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon card-header-success">
                    <div class="card-icon">
                        <i class="material-icons">people</i>
                    </div>
                    <p class="card-category">Nombre <br>d'équipes</p>
                    <h3 class="card-title" th:text="${metrics.nb_team}">?</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">apartment</i>
                    </div>
                    <p class="card-category">Nombre de départments</p>
                    <h3 class="card-title" th:text="${metrics.nb_department}">?</h3>
                </div>
            </div>
        </div>
    </div>

    <style th:inline="text"
           th:with="colors=${ {'#00bcd4','#ff9800','#4caf50','#f44336'} }, alphabet=${ {'a','b','c','d'} }">
        #LeaveRequestByHR_legend span::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }

        /*[# th:each="i : ${#numbers.sequence(1, 4)}"]*/
        #LeaveRequestByHR_legend span:nth-child([[@{(${i})}]])::before { background-color: [[${colors[i-1]}]] }

        #LeaveRequestByHR .ct-series-[[${alphabet[i-1]}]] .ct-bar { stroke: [[${colors[i-1]}]] !important}
        /*[/]*/

        #LeaveRequestByHR_legend {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

         #LeaveByType .ct-label.ct-horizontal {
            text-align: center;
             line-height: 1;
             justify-content: center;
            align-items: center;
         }
    </style>

    <script th:inline="javascript">
        // Initialize a Bar chart in the container with the ID EffectiveByYear
        new Chartist.Line('#EffectiveByYear', {
            labels: /*[[${EffectiveByYear.get(0)}]]*/ [],
            series: [
                /*[[${EffectiveByYear.get(1)}]]*/ []
            ]
         });

        // Initialize a Bar chart in the container with the ID LeaveByType
        new Chartist.Bar('#LeaveByType', {
            labels: /*[[${LeaveByTypes.keySet()}]]*/ [],
            series: [
                /*[[${LeaveByTypes.values()}]]*/ []
            ]
        });

        // Initialize a Straight Lines Chart in the container with the ID AcceptedLeaveByYear
        new Chartist.Line('#AcceptedLeaveByYear', {
            labels: /*[[${AcceptedLeaveByYear.get(0)}]]*/ [],
            series: [
                /*[[${AcceptedLeaveByYear.get(1)}]]*/ []
            ]
        });

        // Initialize a multiple Bar Chart in the container with the ID LeaveRequestByHR
        new Chartist.Bar('#LeaveRequestByHR', {
            labels: /*[[${TreatedLeaveRequestByHR.keySet()}]]*/ [],
            series: /*[[${TreatedLeaveRequestByHR.values()}]]*/ []
        });
    </script>
</div>
