<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="statistics">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-rose">
                    <div id="LeaveByStatus" class="ct-chart"><!-- Bar chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Congés posés par états</h4>
                    <p class="card-category">durant le dernier mois</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div id="LeaveByType" class="ct-chart"><!-- Bar chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Congés posés par types</h4>
                    <p class="card-category">durant le dernier mois</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                    <div id="AcceptedLeaveByYear" class="ct-chart"><!-- Straight Lines Chart --></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Congés validé par mois</h4>
                    <p class="card-category">durant l'année</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-danger">
                    <div class="card-icon">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <h4 class="card-title">Demande de congés traité par membre RH
                        <small>- durant le dernier mois</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="LeaveRequestByHR" class="ct-chart">
                        <!-- multiple bar chart (3bar: en attente, refusé, validé, annulé -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
         #LeaveByStatus .ct-label.ct-horizontal,
         #LeaveByType .ct-label.ct-horizontal {
            text-align: center;
            align-items: center;
            line-height: 1;
        }
    </style>

    <script th:inline="javascript">
        // Initialize a Bar chart in the container with the ID LeaveByStatus
        new Chartist.Bar('#LeaveByStatus', {
            labels: /*[[${leaveByStatus.keySet()}]]*/ [],
            series: [
                /*[[${leaveByStatus.values()}]]*/ []
            ]
         });

        // Initialize a Bar chart in the container with the ID LeaveByType
        new Chartist.Bar('#LeaveByType', {
            labels: [1, 2, 3, 4],
            series: [
                [5, 2, 8, 3]
            ]
        });

        // Initialize a Straight Lines Chart in the container with the ID AcceptedLeaveByYear
        new Chartist.Line('#AcceptedLeaveByYear', {
            labels: [1, 2, 3, 4],
            series: [
                [5, 2, 8, 3]
            ]
        });

        // Initialize a multiple Bar Chart in the container with the ID LeaveRequestByHR
        new Chartist.Bar('#LeaveRequestByHR', {
            labels: [1, 2, 3, 4],
            series: [
                [5, 2, 8, 3],
                [5, 2, 8, 3],
                [5, 2, 8, 3],
                [5, 2, 8, 3]
            ]
        });
    </script>
</div>
