<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModal"
  aria-hidden="true" th:fragment="addEmployeeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeModal">Ajouter un employé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card ">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <h4 class="card-title">Employé</h4>
          </div>
          <div class="card-body">
            <form class="form-horizontal">
              <div class="row">
                <label class="col-md-2 col-form-label">Nom</label>
                <div class="col-md-4">
                  <div class="form-group has-default bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <label class="col-md-2 col-form-label">Prénom</label>
                <div class="col-md-4">
                  <div class="form-group has-default bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                  <div class="form-group has-default bmd-form-group">
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-2 col-form-label">Adresse</label>
                <div class="col-md-10">
                  <div class="form-group bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-2 col-form-label">Ville</label>
                <div class="col-md-2">
                  <div class="form-group has-default bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <label class="col-md-2 col-form-label">Code Postal</label>
                <div class="col-md-2">
                  <div class="form-group has-default bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <label class="col-md-2 col-form-label">Pays</label>
                <div class="col-md-2">
                  <div class="form-group has-default bmd-form-group">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-2 col-form-label">Équipe</label>
                <div class="col-md-8">
                  <div class="form-group bmd-form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Avengers</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group has-default bmd-form-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTeamModal">
                      +
                    </button>
                  </div>
                </div>
              </div>
          </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </div>
</div>