<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end">
                <a class="btn btn-danger" href="#" role="button">
                     <span class="card-icon">
                         <i class="material-icons">power_settings_new</i>
                     </span>
                </a>
            </div>
        </div>
    </nav>

</html>