<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="img/sidebar-1.jpg">
        <div class="logo">
            <a href="../dashboard.html" class="simple-text logo-normal">
                Gestionnaire de congés
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="../dashboard.html">
                        <i class="material-icons">dashboard</i>
                        <p>Vue d'ensemble</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./requestsToBeProcessed.html">
                        <i class="material-icons">assignment</i>
                        <p>Demandes à traiter</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./team.html">
                        <i class="material-icons">people</i>
                        <p>Liste des équipes</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="../employee.html">
                        <i class="material-icons">person</i>
                        <p>Liste des employés</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./typeOfLeave.html">
                        <i class="material-icons">library_books</i>
                        <p>Liste des types de congés</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./leaveRequest.html">
                        <i class="material-icons">next_week</i>
                        <p>Mes demandes de congés</p>
                    </a>
                </li>
            </ul>
    </div>
</div>
</div>