<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="card ">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <h4 class="card-title">Employé</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" th:action="@{/employe/ajouter}" th:object="${employee}" class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nom</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{lastname}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{lastname}"> </span>
                                    </div>
                                    <label class="col-md-2 col-form-label">Prénom</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{firstname}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{firstname}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{email}" type="email" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{email}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Adresse</label>
                                    <div class="col-md-10">
                                        <div class="form-group bmd-form-group">
                                            <input th:field="*{street}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{street}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Code Postal</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{postCode}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{postCode}"> </span>
                                    </div>
                                    <label class="col-md-2 col-form-label">Ville</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{city}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{city}"> </span>
                                    </div>
                                    <label class="col-md-2 col-form-label">Pays</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{country}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{country}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Emploi</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <input th:field="*{position}" type="text" class="form-control">
                                        </div>
                                        <span class="text-danger" th:errors="*{position}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Équipe</label>
                                    <div class="col-md-8">
                                        <div class="form-group bmd-form-group">
                                            <select th:field="*{teamList}" class="form-control">
                                                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                                            </select>
                                        </div>
                                        <span class="text-danger" th:errors="*{teamList}"> </span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <a th:href="@{/equipe/ajouter}">
                                                <button type="button" class="btn btn-primary">+</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nombre de congés</label>
                                    <div class="col-md-1">
                                        <div class="form-group bmd-form-group">
                                            <input th:field="*{remainingLeave}" type="text" class="form-control" value="25">
                                        </div>
                                        <span class="text-danger" th:errors="*{remainingLeave}"> </span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button th:href="@{/equipes}" type="button" class="btn btn-secondary">Annuler</button>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
</body>

</html>