<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">library_books</i>
                            </div>
                            <h4 class="card-title">Type de congé</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{/type-conges/ajouter}" th:object="${typeOfLeave}" method="post" class="form-horizontal">
                                <input type="hidden" th:field="*{id}" />
                                <div class="row">
                                    <div class="offset-md-2 col-md-4">
                                        <span class="text-danger" th:errors="*{name}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nom</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{name}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-8">
                                        <span class="text-danger" th:errors="*{description}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-8">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{description}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/types-conges}">
                                        <button type="button" class="btn btn-secondary">Annuler</button>
                                    </a>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
</body>

</html>