<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="card-title">Équipe</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nom</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Département</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Sauver le monde</option>
                                    <option>...</option>
                                  </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDepartmentModal">
                                    +
                                  </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Chef d'équipe</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Captain America</option>
                                    <option>Thor</option>
                                    <option>Spider Man</option>
                                    <option>...</option>
                                  </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Liste des membres</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select multiple class="form-control" id="exampleFormControlSelect2" style="min-height: 100px;">
                                    <option>Captain America</option>
                                    <option>Thor</option>
                                    <option>Spider Man</option>
                                    <option>...</option>
                                  </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
</body>

</html>