<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <!-- FIXME only RH can view statistics (else calendar) -->
                    <div th:if="true" th:replace="components/statistics.html :: statistics"></div>
                    <div class="row">
                        <div class="offset-md-11">
                            <a th:href="@{/demande-conges/ajouter}">
                                <button type="button" class="btn btn-primary">+</button>
                            </a>
                        </div>
                    </div>
                    <div class="card card-calendar">
                        <div class="card-body ">
                            <div id="fullCalendar" class="fc fc-unthemed fc-ltr"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-5">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">star</i>
                                </div>
                                <h4 class="card-title">Congés restants</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="">
                                            <th style="width: 181px;">Type de congé</th>
                                            <th style="width: 60px;">Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Congé payé</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>RTT</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-2 col-md-3">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">calendar_today</i>
                                </div>
                                <h4 class="card-title">Légende</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="">
                                            <th style="width: 40px;"></th>
                                            <th style="width: 181px;">Statut</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="p-3 mb-2 bg-success "></div>
                                                </td>
                                                <td>Validée</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="p-3 mb-2 bg-warning"></div>
                                                </td>
                                                <td>En attente</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="p-3 mb-2 bg-danger"></div>
                                                </td>
                                                <td>Refusée</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fragments/footer.html :: footer "></footer>
            </div>
        </div>
    </div>
    <script src="js/plugins/fullcalendar-locales-fr.js "></script>
    <script>
        $(document).ready(function() {
            //Get date of today
            today = new Date();
            y = today.getFullYear();
            m = today.getMonth();
            d = today.getDate();
            // initialise FullCalendar
            let calendar = $("#fullCalendar ").fullCalendar({
                viewRender: function(e, a) {
                    "month " != e.name &&
                        $(a)
                        .find(".fc-scroller ")
                        .perfectScrollbar();
                },
                disableDragging: true,
                height: 600,
                locale: 'fr',
                header: {
                    left: "title ",
                    center: "month ",
                    right: "prev,next,today "
                },
                defaultDate: today,
                selectable: !0,
                selectHelper: !0,
                views: {
                    month: {
                        titleFormat: "MMMM YYYY "
                    }
                },
                //editable: !0,
                //eventLimit: !0,
                events: [{
                    title: "Congé payé ",
                    start: new Date(y, m, 1),
                    description: "Vacances ",
                    className: "event-green "
                }, {
                    title: "Congé payé ",
                    start: new Date(y, m, 2),
                    description: "Vacances ",
                    className: "event-green "
                }, {
                    title: "Congé payé ",
                    start: new Date(y, m, 3),
                    description: "Vacances ",
                    className: "event-green "
                }, {
                    id: 999,
                    title: "RTT ",
                    start: new Date(y, m, d - 4, 6, 0),
                    allDay: !1,
                    description: " ",
                    className: "event-orange "
                }, {
                    title: "Congé payé ",
                    start: new Date(y, m, 20),
                    description: "A fortiori, ton compteur est vide !",
                    className: "event-red "
                }],
                select: function() {
                    $('#addLeaveRequestModal').modal('show');
                },
                eventClick: function(info) {
                    $('#updateLeaveRequestModal').modal('show');
                },
                eventRender: function(event, element) {
                    $(element).tooltip({
                        title: event.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                },
                dayClick: function(date, jsEvent, view) {
                    initValueDatetimepickerCalendar(date);
                }
            });
        });
    </script>

</body>

</html>