<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
  <div class="wrapper ">
    <div th:replace="fragments/menu.html :: menu"></div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div th:replace="components/calendar.html :: calendar"></div>
          <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
      </div>
    </div>
  </div>
</body>

</html>