<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
  <div class="wrapper ">
    <div th:replace="fragments/menu.html :: menu"></div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <!DOCTYPE HTML>
          <html xmlns:th="http://www.thymeleaf.org">
          <div class="row">
            <div class="offset-md-11">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployeeModal">
                +
              </button>
            </div>
          </div>
          <div class="row" th:fragment="employees">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">people</i>
                  </div>
                  <h4 class="card-title">Liste des employés</h4>
                </div>
                <div th:replace="components/employees.html :: employees"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <div th:replace="modals/employeeModals.html :: addEmployeeModal"></div>
    <div th:replace="modals/employeeModals.html :: updateEmployeeModal"></div>
    <div th:replace="modals/employeeModals.html :: deleteEmployeeModal"></div>
</body>

</html>