<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
  <div class="wrapper ">
    <div th:replace="fragments/menu.html :: menu"></div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title "> Historique</h4>
                  <p class="card-category">Visualiser ses demandes de congé</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table th:if="${leavelistItems}" class="table">
                      <thead class=" text-primary">
                        <th>
                          Date de début
                        </th>
                        <th>
                          Date de fin
                        </th>
                        <th>
                          Type de congé
                        </th>
                        <th>
                          Statut
                        </th>
                      </thead>
                      <tbody>
                        <tr th:each="leavelistItem : ${leavelistItems}">
                          <td th:text="${leavelistItem.start}"></td>
                          <td th:text="${leavelistItem.end}"></td>
                          <td th:text="${leavelistItem.type}"></td>
                          <td th:text="${leavelistItem.status}"></td>
                        </tr>
                      </tbody>
                    </table>
                    <p th:if="${leavelistItems == null}">Vous n'avez pas de demande de congé enregistrée.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </div>
</body>

</html>