<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">next_week</i>
                                    </div>
                                    <h4 class="card-title">Mes demandes de congés</h4>
                                </div>
                                <div class="container">
                                    <div class="offset-md-11">
                                        <a th:href="@{/demande-conges/ajouter}" class="btn btn-primary">
                                            <i class="material-icons" style="font-size:30px;">add_circle_outline</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="toolbar">
                                    </div>
                                    <div class="material-datatables">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Date de début</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Position: activate to sort column ascending">
                                                                Date de fin</th>
                                                            <th class="disabled-sorting sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Actions: activate to sort column ascending">Type de congé</th>
                                                            <th class="disabled-sorting sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Actions: activate to sort column ascending">Statut</th>
                                                            <th class="disabled-sorting sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 80px;" aria-label="Actions: activate to sort column ascending">Annuler</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="leavesRequest, i : ${leavesRequests}" role="row" th:style="${i.odd}? 'odd' : 'even'" th:data-id="${leavesRequest.lrid}">
                                                            <td th:text="${leavesRequest.startingDate}" tabindex="0" class="sorting_1">Starting date</td>
                                                            <td th:text="${leavesRequest.endingDate}">Ending date</td>
                                                            <td th:text="${leavesRequest.typeOfLeave.name}">Name of type of leaves</td>
                                                            <td th:text="${leavesRequest.status}">Status</td>
                                                            <td class="text-right">
                                                                <a href="#" class="btn btn-link btn-danger btn-just-icon remove" data-toggle="modal" data-target="#deleteLeaveRequestModal"><i class="material-icons">close</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
            <div th:replace="modals/leaveRequestModals.html :: deleteLeaveRequestModal"></div>
        </div>
        <script>

            (function($){
                let that;
                $(".remove").click(function() {
                    that = $(this);
                    $(".remove-modal-btn").click(function(){
                        let tr = that.parent().parent()[0];
                        let lrid = tr.dataset.id;
                        $(tr).fadeOut();
                        $.get("/demande-conges/supprimer/"+lrid);
                    });
                });

            })(jQuery);
            $(document).ready(function() {
                $('#datatables').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        "sEmptyTable": "Aucune donnée disponible dans le tableau",
                        "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                        "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                        "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Afficher _MENU_ éléments",
                        "sLoadingRecords": "Chargement...",
                        "sProcessing": "Traitement...",
                        "sSearch": "Rechercher :",
                        "sZeroRecords": "Aucun élément correspondant trouvé",
                        "oPaginate": {
                            "sFirst": "Premier",
                            "sLast": "Dernier",
                            "sNext": "Suivant",
                            "sPrevious": "Précédent"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                        },
                        "select": {
                            "rows": {
                                "_": "%d lignes sélectionnées",
                                "0": "Aucune ligne sélectionnée",
                                "1": "1 ligne sélectionnée"
                            }
                        }
                    }
                });

                var table = $('#datatable').DataTable();
            });
        </script>
        <script>
            $(document).ready(function() {
                // initialise Datetimepicker
                md.initFormExtendedDatetimepickers();
            });
        </script>
    </div>
</body>

</html>