<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-md-2 col-md-3">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">post_add</i>
                                    </div>
                                    <p class="card-category">En attente</p>
                                    <h3 class="card-title">1</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <p class="card-category">Validée</p>
                                    <h3 class="card-title">1</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">close</i>
                                    </div>
                                    <p class="card-category">Refusée</p>
                                    <h3 class="card-title">0</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Demandes à traiter</h4>
                                </div>
                                <div class="card-body">
                                    <div class="toolbar">
                                    </div>
                                    <div class="material-datatables">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Name: activate to sort column ascending">
                                                                Nom</th>
                                                            <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Position: activate to sort column ascending">
                                                                Prénom</th>
                                                            <th class="disabled-sorting sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Actions: activate to sort column ascending">Type de congé</th>
                                                            <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Actions: activate to sort column descending">Statut</th>
                                                            <th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 80px;" aria-label="Actions: activate to sort column ascending"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="leavesRequest, i : ${pendingLeaveRequests}" role="row" th:style="${i.odd}? 'odd' : 'even'">
                                                            <td th:text="${leavesRequest.employee.lastname}">Nom</td>
                                                            <td th:text="${leavesRequest.employee.firstname}">Prénom</td>
                                                            <td th:text="${leavesRequest.typeOfLeave.name}">Name of type of leaves</td>
                                                            <td th:text="${leavesRequest.status}" tabindex="0" class="sorting_1">Status</td>
                                                            <td class="text-right">
                                                                <a th:href="'/demande/valider/' + ${leavesRequest.lrid}" class="btn btn-link btn-warning btn-just-icon remove"><i class="material-icons">dvr</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Toutes les demandes</h4>
                                </div>
                                <div class="card-body">
                                    <div class="toolbar">
                                    </div>
                                    <div class="material-datatables">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="alldatatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr role="row">
                                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Name: activate to sort column ascending">
                                                            Nom</th>
                                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Position: activate to sort column ascending">
                                                            Prénom</th>
                                                        <th class="disabled-sorting sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-label="Actions: activate to sort column ascending">Type de congé</th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Actions: activate to sort column descending">Statut</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="leavesRequest, i : ${leavesRequests}" role="row" th:style="${i.odd}? 'odd' : 'even'">
                                                        <td th:text="${leavesRequest.employee.lastname}">Nom</td>
                                                        <td th:text="${leavesRequest.employee.firstname}">Prénom</td>
                                                        <td th:text="${leavesRequest.typeOfLeave.name}">Name of type of leaves</td>
                                                        <td th:text="${leavesRequest.status}" tabindex="0" class="sorting_1">Status</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
        <script>
            $(document).ready(function() {
                var __local_dt = {
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        "sEmptyTable": "Aucune donnée disponible dans le tableau",
                        "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                        "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                        "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Afficher _MENU_ éléments",
                        "sLoadingRecords": "Chargement...",
                        "sProcessing": "Traitement...",
                        "sSearch": "Rechercher :",
                        "sZeroRecords": "Aucun élément correspondant trouvé",
                        "oPaginate": {
                            "sFirst": "Premier",
                            "sLast": "Dernier",
                            "sNext": "Suivant",
                            "sPrevious": "Précédent"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                        },
                        "select": {
                            "rows": {
                                "_": "%d lignes sélectionnées",
                                "0": "Aucune ligne sélectionnée",
                                "1": "1 ligne sélectionnée"
                            }
                        }
                    }
                };
                $('#datatables').DataTable(__local_dt);
                $('#alldatatables').DataTable(__local_dt);

                var table = $('#datatable').DataTable();
                var table = $('#alldatatables').DataTable();
            });
        </script>
    </div>
</body>

</html>