<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="off-canvas-sidebar">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
        <div class="navbar-wrapper">
            <p class="navbar-brand" th:text="${title}">Création de mot de passe</p>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
         style="background-image: url('/img/wallpapers/mountain.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                    <span class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                            <form method="post" th:action="@{/resetPassword}" th:object="${passwordResetForm}">
                             <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:text="${error}">Validation error</p>
                                <input name="token" th:value="${token}" type="hidden"/>
                            <div class="card card-login card-hidden">
                                <div class="card-header card-header-primary text-center">
                                    <h3 class="card-title" th:text="${title}">
                                        Réinitialisation de mot de passe
                                    </h3>
                                </div>
                                <div class="card-body">
                                        <p class="card-description text-center" th:text="${description}">
                                            Entrez votre nouveau mot de passe
                                        </p>
                                    <p class="error-message container text-danger text-justify" th:each="error: ${#fields.errors('password')}"
                                       th:text="${error}">Erreur de validation</p>
                                        <span class="bmd-form-group"
                                              th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                <input class="form-control" id="password" placeholder="Mot de passe"
                                                       th:field="*{password}" type="password"/>
                                            </div>

                                        </span>
                                        <span class="bmd-form-group"
                                              th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                <input class="form-control" id="confirmPassword"
                                                       placeholder="Confirmez votre mot de passe"
                                                       th:field="*{confirmPassword}" type="password"/>
                                            </div>

                                        </span>
    <hr/>

    </div>
    <div class="card-footer justify-content-center">
        <button class="btn btn-primary btn-link btn-lg" name="submit" type="submit" value="submit" th:text="${submit}">Réinitialiser le mot de passe</button>
    </div>
    </div>
    </form>
                    </span>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</div>
</body>

</html>