<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <a th:href="@{/equipe/modifier/} + ${team.id}">
                        <button type="button" class="btn btn-warning pull-right">Modifier</button>
                    </a>
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="card-title">Visualiser l'équipe</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" th:object="${team}" class="form-horizontal">
                                <input type="hidden" th:field="*{id}" />
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nom</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input disabled="" th:field="*{name}" type="text" class="form-control disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Département</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select disabled="" th:field="*{department}" class="form-control disabled">
                                                <option th:value="${team.department.id}" th:text="${team.department.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <a th:href="@{/departement/ajouter}">
                                                <button type="button" class="btn btn-primary">+</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Chef d'équipe</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select disabled="" th:field="*{teamLeader}" class="form-control disabled">
                                                <option 
                                                    th:value="${team.teamLeader.employee.eid}" 
                                                    th:text="${team.teamLeader.employee.lastname} + ' ' + ${team.teamLeader.employee.firstname}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Liste des membres</label>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <select disabled="" multiple th:field="*{employeeList}" class="form-control disabled" style="height: 100%;">
                                                <option th:each="employee : ${team.employeeList}" 
                                                        th:value="${employee.eid}" 
                                                        th:text="${employee.lastname} + ' ' + ${employee.firstname}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
</body>

</html>