<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-md-11">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTeamModal">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">people</i>
                                    </div>
                                    <h4 class="card-title">Liste des équipes</h4>
                                </div>
                                <div class="card-body">
                                    <div id="accordion">
                                        <div th:each="team: ${teams}" class="card">
                                            <!-- Team -->
                                            <div class="card-header">
                                                <h3 class="mb-0">
                                                    <button th:text="${team.name}" class="btn btn-link" data-toggle="collapse" th:attr="data-target='#collapse-' + ${team.id}" aria-expanded="true">
                                                        <span class="card-icon">
                                                            <i class="material-icons">people</i>
                                                        </span>
                                                    </button>
                                                </h3>
                                            </div>
                                            <div th:id="'collapse-' + ${team.id}" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <button th:attr="data-id=${team.id}" id="btnUpdateTeamModal" type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateTeamModal">Modifier</button>
                                                        <button th:attr="data-id=${team.id}" id="btnDeleteTeamModal" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTeamModal">Supprimer</button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="offset-md-11">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployeeModal">
                                                                +
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div th:replace="components/employees.html :: employees(employees=${team.employeeList})"></div>
                                                </div>
                                            </div>
                                            <!-- End Team -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
        <div th:replace="modals/teamModals.html :: addTeamModal"></div>
        <div th:replace="modals/teamModals.html :: updateTeamModal"></div>
        <div th:replace="modals/teamModals.html :: deleteTeamModal"></div>
        <div th:replace="modals/employeeModals.html :: addEmployeeModal"></div>
        <div th:replace="modals/employeeModals.html :: updateEmployeeModal"></div>
        <div th:replace="modals/employeeModals.html :: deleteEmployeeModal"></div>
        <div th:replace="modals/departmentModals.html :: addDepartmentModal"></div>
        <script>
            $(document).ready(function() {
                $('#datatables').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        "sEmptyTable": "Aucune donnée disponible dans le tableau",
                        "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                        "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                        "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Afficher _MENU_ éléments",
                        "sLoadingRecords": "Chargement...",
                        "sProcessing": "Traitement...",
                        "sSearch": "Rechercher :",
                        "sZeroRecords": "Aucun élément correspondant trouvé",
                        "oPaginate": {
                            "sFirst": "Premier",
                            "sLast": "Dernier",
                            "sNext": "Suivant",
                            "sPrevious": "Précédent"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                        },
                        "select": {
                            "rows": {
                                "_": "%d lignes sélectionnées",
                                "0": "Aucune ligne sélectionnée",
                                "1": "1 ligne sélectionnée"
                            }
                        }
                    }
                });

                var table = $('#datatable').DataTable();
            });
        </script>
        <script>
            $(document).ready(function() {
                $('#btnUpdateTeamModal').click(function() {
                    // Get team id
                    var teamId = $(this).data('id');

                    $.ajax({
                        url: '/api/team/' + teamId,
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            // addDataToUpdateTeamModal(data);
                        },
                        error: function(request, error) {
                            alert("Request: " + JSON.stringify(request));
                        }
                    });
                });

                function addDataToUpdateTeamModal(team, departments, teamLeaders, employees) {

                    // Get all elements of form
                    var $name = $('#updateTeamModal form name');
                    var $departments = $('#updateTeamModal form departments');
                    var $teamLeaders = $('#updateTeamModal form teamLeaders');
                    var $employees = $('#updateTeamModal form employees');

                    // Remove all options of select
                    $departments.empty();
                    $teamLeaders.empty();
                    $employees.empty();

                    // Add data fpr elements
                    $name.val(jsonTeam.name);
                    // Departments
                    $.each(departments, function(department) {
                        $departments.append($("<option></option>")
                            .attr("value", department.id).text(department.name));
                    });
                    // Team leaders
                    $.each(teamLeaders, function(teamLeader) {
                        $teamLeaders.append($("<option></option>")
                            .attr("value", teamLeader.id).text(teamLeader.name));
                    });
                    // Employees
                    $.each(employees, function(employee) {
                        $employees.append($("<option></option>")
                            .attr("value", employee.id).text(employee.name));
                    });

                    // Select default option
                    $teamLeaders.val(team.teamLeader.name);
                    $departments.val(team.department.name);
                    $.each(team.employeeList, function(employee) {
                        $employees.val(employee.lastname + " " + employee.firstname);

                    });
                }
            });
        </script>
</body>

</html>