<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="content">
                <div class="container-fluid">
                    <div class="card ">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">next_week</i>
                            </div>
                            <h4 class="card-title">Modifier la demande de congés</h4>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" th:action="@{/demande-conges/modifier/} + ${leaveRequest.lrid}" th:object="${leaveRequest}" class="form-horizontal">
                                <input type="hidden" th:field="*{lrid}" />
                                <div class="row">
                                    <div class="offset-md-2 col-md-4">
                                        <span class="text-danger" th:errors="*{startingDate}"> </span>

                                    </div>
                                    <div class="offset-md-2 col-md-4">
                                        <span class="text-danger" th:errors="*{endingDate}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Date de début</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:value="*{startingDate}" name="startingDate" type="text" class="form-control datepicker datepickerCalendar">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Date de fin</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:value="*{endingDate}" name="endingDate" type="text" class="form-control datepicker datepickerCalendar">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-4">
                                        <span class="text-danger" th:errors="*{typeOfLeave}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Type de congé</label>
                                    <div class="col-md-4">
                                        <div class="form-group has-default bmd-form-group">
                                            <select th:field="*{typeOfLeave}" type="text" class="form-control ">
                                                    <option th:each="typeOfLeave : ${typesOfLeaves}" 
                                                    th:value="${typeOfLeave.id}" 
                                                    th:text="${typeOfLeave.name}">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-4">
                                        <span class="text-danger" th:errors="*{reason}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Raison</label>
                                    <div class="col-md-4 ">
                                        <div class="form-group has-default bmd-form-group ">
                                            <input th:field="*{reason}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nombre de congés restants</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group ">
                                            <input th:value="${remainingLeave}" type="text" class="form-control" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right ">
                                    <a th:href="@{/demandes-conges} ">
                                        <button type="button " class="btn btn-secondary">Annuler</button>
                                    </a>
                                    <button type="submit" class="btn btn-warning">Modifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer "></footer>
        </div>
</body>

</html>